/*
                                __          .__                
  ____   ______ ______   _______/  |_ ___.__.|  |  __ __  ______
_/ ___\ /  ___//  ___/  /  ___/\   __<   |  ||  | |  |  \/  ___/
\  \___ \___ \ \___ \   \___ \  |  |  \___  ||  |_|  |  /\___ \ 
 \___  >____  >____  > /____  > |__|  / ____||____/____//____  >
     \/     \/     \/       \/        \/                     \/ 
*/

/* ***** FONTS ***** */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Voltaire);
/* ***** FONTS ***** */

/* ***** COLOURS ***** */
blanco = #FFFFFF
gris_oscuro = #333333
negro = #000000
/* ***** COLOURS ***** */

*
	border 0
	margin 0
	padding 0

aside
	height auto
	margin 2em 0 1em 1em
	text-align center
	width 27%
	img
		margin 0 0 2em 0

body 
	font-family 'Open Sans', sans-serif
	font-size 16px

figure
	margin 0
	padding 0

footer
	background gris_oscuro
	height auto
	padding 1em 0 1em 0
	width 100%
	h6
		color blanco
		margin 0 0 0 1em
	a
		color blanco
		text-decoration none

h2, h3
	font-family: 'Voltaire', sans-serif;

header 
	background #333333
	display flex
	flex-direction row
	width 100%
	a
		color blanco
		text-decoration none
	a:hover
		text-decoration underline


nav
	border-bottom 1px solid #333333
	border-top 1px solid #333333
	height auto
	padding 1em 0 1em 0
	width 100%
	ul 
		margin 0
		padding 0
	li
		font-size .9em
		font-weight 100
		display inline-block
		margin 0 1.5em 0 1.6em
		a
			color negro
			text-decoration none
		a:hover
			text-decoration underline

.Banner
	margin 0 0 0 13em
	img
		height auto
		width 100%


.Banners-medios
	height auto
	margin 0 0 0 1em
	width auto

.Banner-top
	text-align center


.Caja
	background red
	height auto
	padding .5em
	width 40%
	h2
		color blanco
		font-size .8em
		font-weight 600


.Caja-alimentacion
	font-size .9em
	height auto
	line-height 22px
	margin 1em 0 1em .3em
	width 95%
	a
		color red
		text-decoration none
	img
		padding 0 1em 0 0


.Caja-astrologia
	font-size .9em
	height auto
	line-height 22px
	margin 1em 0 1em .3em
	width 95%
	a
		color red
		text-decoration none
	img
		padding 0 1em 0 0


.Contenido-plantilla
	display flex
	height auto
	flex display
	width 100%
	.Columna-contenidoPlantilla
		height auto
		margin 2em 1em 1em 2em
		width 65%
		p
			color gris_oscuro
			font-size .9em
			line-height 30px
			margin 1em 0 1em 0


.Contenedor-cols1, .Contenedor-cols2, .Contenedor-cols3, .Contenedor-cols4, .Contenedor-cols5
	display flex
	margin 1em 0 1em 0
	width 100%
	.col1
		height auto
		margin 0 .1em 0 .5em
		width 30%
		img
			width 100%
	.col2
		height auto
		margin 0 .5em 0 .5em
		width 23%
		a
			color red
			font-size .8em
			text-decoration none
		img
			height auto
			width 100%
		p
			font-size .9em
			line-height 20px
			margin .3em 0 1em 0
			text-align justify
	.col3
		height auto
		width 20%
		a
			color red
			font-size .8em
			text-decoration none
		img
			float left
			margin 1em .5em 2em 0
		p
			font-size .8em
			margin 1em 0 0 0
	.col4
		margin 0 0 0 1em
		width 23.33333333%


.col2b
	height auto
	width 22.2222222222%
	img
		float left


.Col-terapias
	height auto
	width 98%
	h2
		font-size 1.2em


.Contenedor-cols2
	height auto
	width 100%


.Contenedor-cols3
	height auto
	padding 0 0 0 .5em
	width auto


.Contenedor-cols4
	height auto
	padding 0 0 0 .5em
	width auto

.Contenedor-cols5
	height auto
	padding 0 0 0 .5em
	width auto


.col2a
	height auto
	margin 0 .5em 0 0
	width 55%
	img
		float left
		margin 0 0 2em 0


.col3a
	height auto
	width 55%
	a
		color red
		font-size .8em
		text-decoration none
	h3
		font-size 1.2em
		margin .5em 0 0 0
	img
		float left
		margin .7em 1em 0 0
	p
		font-size .9em
		line-height 22px
		margin .5em 0 .5em 0
		width 95%


.col3b
	height auto
	width 22%


.col3c
	height auto
	text-align center
	width 24.4444444%


.col4a
	height auto
	width 55%
	a
		color red
		font-size .8em
		text-decoration none
	h3
		font-size 1.2em
		margin .5em 0 0 0
	img
		float left
		margin .7em 1em 0 0
	p
		font-size .9em
		line-height 22px
		margin .5em 0 .5em 0
		width 95%


.col4a
	height auto
	width 55%
	img
		float left


.col5a
	height auto
	width 55%
	a
		color red
		font-size .8em
		text-decoration none
	h3
		font-size 1.2em
		margin .5em 0 0 0
	img
		float left
		margin .7em 1em 0 0
	p
		font-size .9em
		line-height 22px
		margin .5em 0 .5em 0
		width 95%


.col5b
	height auto
	width 22%

.col5c
	height auto
	width 24.444444%


.Cuadrados
	margin 0 0 1em 0
	h2
		font-size .9em
		margin .3em 0 .5em 0


.Clear
	clear both


.Label
	margin-left .4em
	


.Linea
	border-bottom solid 1px #cccccc


.List
	height auto
	padding 1em 0 1em 0
	width 70%
	ul li
		font-size .8em
		font-weight 100
		display inline-block
	li
		margin 0 1em 0 1em


.Logo
	height auto
	margin 0 1em 0 3em

.Meta-data
	color grey
	margin .8em 0 .5em 0


.Noticia-principal
	background red
	height auto
	width 100%
	a
		color blanco
		text-decoration none
		margin 0 0 0 1em
	p
		color blanco
		font-size .9em
		line-height 20px
		padding 1em .5em 2em 1em


.Redes-header
	height auto
	padding .7em 0 0 0
	margin 0 0 0 9em
	width 25%
	ul li
		display inline-block
	li
		margin 0 1em 0 1em


.Redes-sidebar
	margin 3em 0 3em 0
	width 100%
	ul li
		list-style none
		display inline-block
	li
		margin 0 .2em 0 .2em
		text-align center
		width 29%

.Set-banners
	margin 1.5em 0 0 0 


.Sub-header
	display flex
	flex-direction row
	margin 2em 0 2em 0


.Ver-mas
	background green
	border-radius 5px
	font-size .8em
	height auto
	margin 0 0 0 1em
	padding .5em 0 .5em 0
	text-align center
	width 20%
	a
		color blanco
		text-decoration none


/* ******************** MEDIA QUERIES *********************** */


@media screen and (max-width:480px)
	body
		background green


	header
		display flex
		flex-direction column
		.List
			height auto
			text-align center
			line-height 30px
			width 100%
		.Redes-header
			height auto
			text-align center
			margin 0 auto
			margin-bottom 1em
			padding 0
			width 50%

	footer
		text-align center

	.Contenedor-cols1, .Contenedor-cols2, .Contenedor-cols3, .Contenedor-cols4, .Contenedor-cols5
		display flex
		flex-direction column
		width 100%

		.col1, .col2, .col3, .col4
			height auto
			margin 0 auto
			margin-top 1em
			width 90%

		.col2a, .col2b, .col2c
			height auto
			margin 0 auto
			margin-top 1em
			width 90%

		.col3a, .col3b, .col3c
			height auto
			margin 0 auto
			margin-top 1em
			width 90%

		.col4a, .col4b, .col4c
			height auto
			margin 0 auto
			width 90%

		.col5a, .col5b, .col5c
			height auto
			margin 0 auto
			margin-top 2em
			width 90%

	.Sub-header
		display flex
		flex-direction column
		height auto
		margin 0 
		padding 0
		width 100%
		.Logo
			margin 0
			padding 0
			text-align center
		.Banner
			text-align center
			margin 0
			padding 0
			img
				height auto
				width 100%



@media screen and (max-width:767px)
	body
		background blue




